LICENSE_DB_HOST=localhost
LICENSE_DB_PORT=3306
LICENSE_DB_NAME=license_db
LICENSE_DB_USER=license_user
LICENSE_DB_PASS=change-me
LICENSE_ADMIN_TOKEN=replace-this-token
LICENSE_ALLOWED_ORIGINS=*
LICENSE_TZ=UTC
